*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }



body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 1.5rem;
}

section {
    display: block;
}


/* sidebar */

.sidebar__checkbox{
    display: none;
}

.sidebar__button {
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 3rem;
    right: 5rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

.sidebar__checkbox:checked + .sidebar__button .sidebar__icon {
    background-color: transparent;
}


.sidebar__icon, .sidebar__icon::before, .sidebar__icon::after {
    width: 1.5rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
}
.sidebar__icon {
    position: relative;
    margin-top: 2rem;
}

.sidebar__icon::before {
    top: -10px;
}

.sidebar__icon::after {
    top: 10px;
}
.sidebar__icon::before , .sidebar__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.sidebar__checkbox:checked + .sidebar__button .sidebar__icon::before{
    top: 0;
    rotate: 135deg;
}

.sidebar__checkbox:checked + .sidebar__button .sidebar__icon::after{
    top: 0;
    rotate: -135deg;
}

.sidebar__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 3rem;
    right: 5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    
}

.sidebar__checkbox:checked ~ .sidebar__background {
    transform: scale(80);
}

.sidebar__checkbox:checked ~ .sidebar__nav{
    width: 100%;
    opacity: 1;
}

.sidebar__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sidebar__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}


.sidebar__item{
    margin: 1rem;
}

.sidebar__link:link, .sidebar__link:visited{
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s;
}

.sidebar__link:hover{
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem);
}

/* header section */

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(141, 218, 192, 0.8)), url(./image/bg.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

}

.header__logo{
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.header__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading{
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading__main{
    display: block;
    color: white;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation: slideInFromLeft 1s ease-out;
    
}

.heading__sub{

    display: block;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.2rem;
    animation: slideInFromRight 1s ease-in;
}

.btn_header, .btn_header:link, .btn_header:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn_header_background{
    background-color: #fff;
    color: #777;
}

.btn_header_animation{
    animation: slideFromBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.btn_header_margin_top{
    margin-top: 7rem;
}

.btn_header::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn_header_background::after{
    background-color: #fff;
}

.btn_header:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn_header:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}




/* about section */

.section__about{
    text-align: center;
    padding-top: 12rem;
    background-color: #f7f7f7;
    margin-top: -20vh;
}

.secondary_heading{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    text-align: center;
}

.secondary_heading:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2)
}

.section__about_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 25px;
    margin-top: 2rem;
}

.section__about_text{
    text-align: left;
    width: 45%;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.sub__heading{
    font-size: 1rem;
    font-weight:bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.paragraph{
    font-size: 1rem;
}

.paragraph:not(:last-child)
{
    margin-bottom: 3rem;
}

.btn__about_section:link, .btn__about_section:visited {
    font-size: 1rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all .2s;
}

.btn__about_section:hover{
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


.section__about_image{
    width: 50%;
    margin-top: -20rem;
}

.img__composition{
    position: relative;
}

.composition__photo{
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.5rem;
}

.composition__photo__p1{
    left: 0;
    top: -3rem;
}

.composition__photo__p2{
    right: -1rem;
    top: 2rem;
}

.composition__photo__p3{
    left: 20%;
    top: 5rem 
}

.composition__photo:hover {
    outline: 1rem solid #55c57a;
    transform: scale(1) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
}


/* feature section */

.section__features {
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(./image/bg.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -5rem;
}

.section__features > * {
    transform: skewY(7deg);
}

.section__features__wrapper{
    display: inline-block;
    align-items: center;
    text-align: center;
    max-width: 100rem;
    margin: 0 auto;
    padding: 10rem;
}

.section__features__wrapper [class^="feature_item"]:not(:last-child) {
    margin-right: 3rem;
}
.section__features__wrapper .feature_item {
    width: calc( (100% - 3 * 3rem) / 4)
}
.section__features__wrapper [class^="feature_item"] {
    float: left;
}

.feature__box{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4rem 1rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.feature__box:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}

.feature__box__icon {
    height: 48px;
    width: 48px;
    margin-bottom: 0.5rem;
    /* display: inline-block; */
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
}

.feature__heading{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.feature__box__text{
    font-size: 12px;
}


/* tour section */

.section__tours{
    background-color: #f7f7f7;
    padding: 20rem 0 5rem 0;
    margin-top: -20vh;
    text-align: center;
}
.section__tours_card__container{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 4rem 10rem;
}

.section__tours_card__container [class^="section__tours_card__item"]:not(:last-child) {
    margin-right: 3rem;
}
.section__tours_card__item {
    width: 30%
}
.section__tours_card__container [class^="section__tours_card__item"] {
    float: left;
}
.card {
    perspective: 150rem;
    position: relative;
    height: 35rem;
    width: 100%;
}

.card__side__front {
    background-color: #fff;
}

.card:hover .card__side__front {
    transform: rotateY(-180deg);
}

.card:hover .card__side--back{
    transform: rotateY(0deg);
}

.card__side--back-1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back-3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card__side--back {
    transform: rotateY(180deg);
}

.card__side_back_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
}

.card__price-only {
    font-size: 1rem;
    text-transform: uppercase;
}

.card__price-value {
    font-size: 5rem;
    font-weight: lighter;
}

.card__side {
    height: 35rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
}

.card__picture_1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(./image/bg.jpg);
}

.card__picture_2{
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(./image/bg.jpg);
}

.card__picture_3{
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(./image/bg.jpg);
}

.card__picture {
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card__heading {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 75%;
}

.card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.card__details {
    padding: 1rem;
}

.card__details ul {
    list-style: none;
    width: 75%;
    margin: 0 auto;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.card__details ul li {
    text-align: center;
    font-size: 15px;
    padding: .5rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn--white::after {
    background-color: #fff;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--green {
    background-color: #55c57a;
    color: #fff;
}
.btn--green::after {
    background-color: #55c57a;
}

/* story section */

.section-stories {
    padding: 5rem 0;
    position: relative;
    text-align: center;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .2;
    overflow: hidden;
}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.story__section_heading{
    margin-bottom: 5rem;
}

.story__container:not(:last-child) {
    margin-bottom: 5rem;
}
.story__container {
    max-width: 50rem;
    margin: 0 auto;
}

.story {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 4rem 4rem;
    padding-left: 9rem;
    font-size: 1.2rem;
    transform: skewX(-12deg);
}

.story__shape {
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
}

.story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
    backface-visibility: hidden;
    transition: all .5s;
}

.story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
    backface-visibility: hidden;
}

.story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.story__text {
    transform: skewX(12deg);
}

.story__text p {
    font-size: 14px;
}

.u-margin-bottom-small {
    margin-bottom: 1rem;
}
.heading-tertiary {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.story__container::after {
    content: "";
    display: table;
    clear: both;
}

.btn-text:hover {
    background-color: #55c57a;
    color: #fff !important;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}
.btn-text:link, .btn-text:visited {
    font-size: 1rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all .2s;
}


/* book section */

.section__book {
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.section__book_container {
    max-width: 60rem;
    margin: 0 auto;
}

.book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(./image/book_bg.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    opacity: .8;
}

.book__form {
    width: 60%;
    padding: 4rem;
    height: 100%;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.form__group:not(:last-child) {
    margin-bottom: 2rem;
}

.form__input {
    font-size: 1rem;
    color: inherit;
    font-family: inherit;
    padding: 1rem 1rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 60%;
    display: block;
    transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}
.form__label {
    font-size: 1.2rem;
    font-weight: 700;
    /* margin-left: 1rem; */
    margin-top: 0.5rem;
    display: block;
    transition: all .3s;
}

.form__radio-group {
    width: 30%;
    display: inline-block;
    align-items: center;
}

.form__radio-input {
    display: none;
}

.form__radio-label {
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    padding-left: 2rem;
}

.form__radio-button {
    height: 1rem;
    width: 1rem;
    border: 5px solid #55c57a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.1rem;
}

.form__radio-button::after {
    content: "";
    display: block;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1;
}


/* footer section */

.footer {
    background-color: #333;
    padding: 8rem 12rem;
    font-size: 14px;
    color: #f7f7f7;
}

.footer__logo{
    height: 120px;
    width: 100px;
}

.footer__logo-box {
    text-align: center;
    margin-bottom: 2rem;
}

.footer__row {
    max-width: 100rem;
    margin: 0 auto;
}

.footer__row [class^="col-"]:not(:last-child) {
    margin-right: 2rem;
}
.footer__row .col-1-of-2 {
    width: calc( (100% - 3rem) / 2);
}
.footer__row [class^="col-"] {
    float: left;
}

.footer__navigation {
    border-top: 1px solid #777;
    padding: 1rem;
    display: inline-block;
}

.footer__list {
    list-style: none;
}

.footer__item:not(:last-child) {
    margin-right: 1rem;
}
.footer__item {
    display: inline-block;
}

.footer__copyright {
    border-top: 1px solid #777;
    padding: .5rem;
    width: 80%;
    float: right;
}

.footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
}

.footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
}

.footer__row::after {
    content: "";
    display: table;
    clear: both;
}

/* popup section */

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .4s .2s;
}

.popup__left {
    width: 33.33%;
    display: table-cell;
}

.popup__img {
    display: block;
    width: 100%;
    height: auto;
}

.popup__right {
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 2rem;
}

.popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-small {
    margin-bottom: 1rem;
}
.heading-tertiary {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.popup__text {
    font-size: 14px;
    margin-bottom: 4rem;
    /* -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee; */
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    /* -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto; */
    hyphens: auto;
}


@media (max-width: 680px) {
    html{
        font-size: 10px;
    }
    .heading__main{
        letter-spacing: 1rem;
    }
    .heading__sub{
        letter-spacing: .5rem;
    }
    .secondary_heading{
        font-size: 12px !important;
    }
}

@media (max-width: 780px)
{   

.composition__photo {
    float: left;
    position: relative;
    width: 33.333333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}    
.composition__photo__p1 {
    top: 0;
    left: 1rem;
    transform: scale(1.2);
}
.composition__photo__p2 {
    top: 0;
    z-index: 100;
    transform: scale(1.4);
    right: 0;
}
.composition__photo__p3 {
    top: 0rem;
    left: 0;
    transform: scale(1.1);
}

.story{
    transform: skewX(0deg);
}

.story__shape{
    transform: skewX(0deg);
    margin-right: 1rem;
}

.story__text {
    transform: skewX(0deg);
}

}


@media (max-width: 980px) {

    .section__about_content{
        flex-direction: column;
        padding-bottom: 25rem;
    }

    .section__about_text{
        width: 80%;
        margin-bottom: 25rem;
    }

    .section__about_image{
        width: 70%;
    }
 
    .feature__box{
        padding: 1.2rem ;
    }

    .footer{
        padding: 8rem 6rem;
    }

    .footer__row {
        max-width: 50rem;
        padding: 0 3rem;
    }

    .footer__copyright{
        float: none;
        display: inline-block;
    }

    .footer__row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem;
    }
    .footer__row [class^="col-"] {
        width: 100% !important;
    }
    
}

@media (max-width: 1024px) {

    .section__about{
        padding-top: 20rem;
    }

    .section__about_content{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .sub__heading , .paragraph{
       font-size: .8rem;
    }
    .secondary_heading{
        font-size: 28px;
    }

    .section__features__wrapper [class^="feature_item"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .section__features__wrapper{
        padding: 0 3rem;
    }

    .section__features__wrapper [class^="feature_item"] {
        width: 90% !important;
    }

    .section__tours{
        padding: auto;
    }

    .section__tours_card__container{
        flex-direction: column;
        align-items: center;
        padding: 1rem 10rem;
    }

    .section__tours_card__container [class^="section__tours_card__item"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .section__tours_card__container .section__tours_card__item {
        width: 90% !important
    }

    .card {
        height: auto;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    }

    .card__picture{
        height: 10rem;
    }
    .card__side {
    
        height: auto;
        position: relative;
        box-shadow: none;
        
    }
    .card__details {
        padding: 1rem 2rem;
    }
    .card:hover .card__side__front {
        transform: rotateY(0);
    }

    .card__side--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
    .card__side_back_content {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 2rem 0;
    }
    .card__price-box {
        margin-bottom: 2rem;
    }

    .card__price-only {
        font-size: 12px;
      
    }
    
    .card__price-value {
        font-size: 2rem;
    }

    .card__heading{
        font-size: 1rem;
    }

    .card__details ul li {
        font-size: 11px;
    }

    .btn, .btn:link, .btn:visited{
        font-size: 10px !important;
        padding: .5rem 1rem;
    }

    .story__container {
        max-width: 30rem;
        margin: 0 auto;
    }

    .story{
        font-size: 14px;
        padding: 2rem 4rem ;
    }

    .section__book {
        padding: 6rem 0;
    }

    .section__book_container {
        max-width: 40rem;
        padding: 0 3rem;

    }

    .book {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(./image/book_bg.jpg);
    }

    .book__form {
        width: 100% !important
    }

    .form__radio-group {
        width: 100%;
        margin-bottom: 2rem;
    }
    .form__radio-label{
        padding-left: 3rem;
        padding-top: 5px;
    }
}


@keyframes slideFromBottom {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX("10rem");
    }
    80% {
       
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {

        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
  